<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<title>
			CV - {% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" type="image/png" href={{ asset('build/images/logo.png') }}>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>

	<body class="bodymain">

		<header class="headMain">
			<nav>
				<!--Ajouter plus de truc dans le menu genre exemple de cv conseil etc etc-->
				<div class="navMenu">
					<a href="{{ path('app_blog') }}"><img id="logo" alt="imgLogo" src={{ asset('build/images/logo.png') }} class="imgLogoAccueil"/></a>
					<img id="idmenu" alt="imgmenu" src={{ asset('build/images/menu/menu.png') }} class="imgMenu"/>
				</div>
				<div class="navDiva">
					<a id="navExplorer" class="butNav" href="{{ path('app_blog') }}">{% trans %}header.explorer{% endtrans %}</a>

					<a id="navExplorer" class="butNav" href="{{ path('app_login') }}">
						{% trans %}header.login{% endtrans %}
					</a>
				</div>
			</nav>
		</header>


		{% block body %}{% endblock %}

		<footer>
		</footer>
	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html>
