<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<title>Connexion
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" type="image/png" href={{ asset('build/images/logo.png') }}>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>

	<body class="bodymain">

		<header class="headMain">
			<nav>
				<!--Ajouter plus de truc dans le menu genre exemple de cv conseil etc etc-->
				<div class="navMenu">
					<a><img id="logo" alt="imgLogo" src={{ asset('build/images/logo.png') }} class="imgLogo"/></a>
				</div>
				<div class="navDiva">
					<a href="{{ path('app_login') }}"> Connexion </a>
				</div>
			</nav>
		</header>

		<main class="mainLogin">
			<!--ajouter exemple cv + slogan -->
			{% block main_content %}{% endblock %}

		</main>


	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html>
