{% extends layout %}

{% block title %}
	{% trans %}header.home{% endtrans %}
{% endblock %}

{% block body %}
	<main>
		<!-- photo moi et description|raw -->
		<section class="sectionIndex1">
			<img id="imgmoi" src="{{ user.user.imageName ? asset('uploads/images/' ~ user.user.imageName) : asset('build/images/default.png') }}" alt="Photo personne"/>

			<div class="divInfo">
				<h1>{{user.user.prenom}}
					{{user.user.nom}}</h1>
				<h3>{{user.translated_profession|raw}}</h3>

				<p>
					{{user.translated_description|raw}}
				</p>

				<button class="aBoutton" id="aBoutton">{% trans %}button.aboutMe{% endtrans %}</button>
			</div>
		</section>

		<!-- Parcours et photos -->
		<section id="a-propos" class="sectionIndex2">
			<div class="parcours" id="a-propos-div">
				<h2>{% trans %}section.training{% endtrans %}</h2>
				<ul>
					{% for formation in formations %}
						<li>
							<em class="italic">{{ formation.formation.annee }}</em>,
							{{ formation.translated_intitule }}<br/>
							<em class="italic">{{ formation.translated_lieu }}</em>
						</li>

					{% else %}
						<li>{% trans %}nodata{% endtrans %}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="imagesParcours">
				{% for formation in formations %}
					{% if formation.formation.imageName != null %}
						<img src="{{ asset('uploads/images/' ~ formation.formation.imageName) }}" alt="Image formation" class="imgParcours"/>
					{% endif %}

				{% else %}
					<li>{% trans %}nodata{% endtrans %}</li>
				{% endfor %}

			</div>


		</section>

		<!-- Loisirs et photos -->
		<section class="sectionIndex3">
			<div class="imagesLoisirs">
				{% for loisir in loisirs %}

					{% if loisir.loisir.imageName != null %}

						<img id="idgym" src="{{ asset('uploads/images/' ~ loisir.loisir.imageName) }}" alt="Image loisir" class="imgLoisirs"/>

					{% endif %}
				{% else %}
					<li>{% trans %}nodata{% endtrans %}</li>
				{% endfor %}
			</div>
			<div class="loisirs divLoisirs">
				<h2>{% trans %}section.hobbies{% endtrans %}</h2>
				<ul>
					{% for loisir in loisirs %}
						<li>
							{{ loisir.translated_nom }}
						</li>
					{% else %}
						<li>{% trans %}nodata{% endtrans %}</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
{% endblock %}
