{% extends 'base.html.twig' %}

{% block title %}Expériences
{% endblock %}

{% block body %}
	<main>
		<section class="sectionExperience  sectionExperiencePro">
			<h2 class="h2Experience">Expériences professionnelles</h2>
			<div class="divExp divExpPro">
				{% for experiencePro in experiencesPro %}
					<div class="exp expPro">
						<div class="blocexp blocexpPro">
							<h2>{{experiencePro.poste}}</h2>
							<h4>{{experiencePro.entreprise}}</h4>
							<ul>
								{% for line in experiencePro.description|split('\n') %}
									<li>{{ line }}</li>
								{% endfor %}
							</ul>
						</div>
						<div>
							<p>
								<em>
									{{experiencePro.dateDebut}}
									-
									{{experiencePro.dateFin}}</em>
							</p>
						</div>
					</div>
				{% else %}
					<li>Aucune experiencePro enregistrée.</li>
				{% endfor %}


			</div>


		</section>

		<section class="sectionExperience sectionExperienceUni">
			<h2 class="h2Experience h2ExperienceUni">Expériences universitaire</h2>
			<div class="divExp divExpUni">

				{% for experienceUni in experiencesUni %}
					<div class="exp expUni">
						<div class="blocexp blocexpUni">
							<h2>{{experienceUni.titre}}</h2>
							<h4>{{experienceUni.sousTitre}}</h4>
							<ul>
								{% for line in experienceUni.description|split('\n') %}
									<li>{{ line }}</li>
								{% endfor %}
							</ul>
						</div>
						<div>
							<p>
								<em>
									{{experienceUni.annee}}</em>
							</p>
						</div>
					</div>
				{% else %}
					<li>Aucune experienceUni enregistrée.</li>
				{% endfor %}

			</div>

		</section>
	</main>
{% endblock %}
