{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}header.experiences{% endtrans %}
{% endblock %}

{% block body %}
	<main>
		<section class="sectionExperience  sectionExperiencePro">
			<h2 class="h2Experience">{% trans %}section.proExperience{% endtrans %}</h2>
			<div class="divExp divExpPro">
				{% for experiencePro in experiencesPro %}
					<div class="exp expPro">
						<div class="blocexp blocexpPro">
							<h2>{{experiencePro.poste}}</h2>
							<h4>{{experiencePro.entreprise}}</h4>
							<ul>
								{{ experiencePro.description|raw }}
							</ul>
						</div>
						<div>
							<p>
								<em>
									{{experiencePro.dateDebut}}
									-
									{{experiencePro.dateFin}}</em>
							</p>
						</div>
					</div>
				{% else %}
					<li>{% trans %}nodata{% endtrans %}</li>
				{% endfor %}


			</div>


		</section>
		
		<section class="sectionExperience sectionExperienceUni">
			<h2 class="h2Experience h2ExperienceUni">{% trans %}section.acaExperience{% endtrans %}</h2>
			<div class="divExp divExpUni">

				{% for experienceUni in experiencesUni %}
					<div class="exp expUni">
						<div class="blocexp blocexpUni">
							<h2>{{experienceUni.titre}}</h2>
							<h4>{{experienceUni.sousTitre}}</h4>
							<ul>
								{{ experienceUni.description|raw }}
							</ul>
						</div>
						<div>
							<p>
								<em>
									{{experienceUni.annee}}</em>
							</p>
						</div>
					</div>
				{% else %}
					<li>{% trans %}nodata{% endtrans %}</li>
				{% endfor %}

			</div>

		</section>
	</main>
{% endblock %}
