{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}header.experiences{% endtrans %}
{% endblock %}

{% block body %}
	<main>
		<section class="sectionExperience  sectionExperiencePro">
			<h2 class="h2Experience">{% trans %}section.proExperience{% endtrans %}</h2>
			<div class="divExp divExpPro">
				{% for experiencePro in experiencesPro %}
					<div class="exp expPro">
						<div class="blocexp blocexpPro">
							<h2>{{experiencePro.translated_poste|raw }}</h2>
							<h4>{{experiencePro.experiencePro.entreprise|raw }}</h4>

						</div>
						<p>
							<em>
								{{experiencePro.experiencePro.dateDebut}}
								-
								{{experiencePro.experiencePro.dateFin}}</em>
						</p>

						<div class="descriptiondiv">

							{{ experiencePro.translated_description|raw }}

						</div>
					</div>
				{% else %}
					<li>{% trans %}nodata{% endtrans %}</li>
				{% endfor %}


			</div>


		</section>

		<section class="sectionExperience sectionExperienceUni">
			<h2 class="h2Experience h2ExperienceUni">{% trans %}section.acaExperience{% endtrans %}</h2>
			<div class="divExp divExpUni">

				{% for experienceUni in experiencesUni %}
					<div class="exp expUni">
						<div class="blocexp blocexpUni">
							<h2>{{experienceUni.translated_titre|raw  }}</h2>
							<h4>{{experienceUni.translated_sousTitre|raw }}</h4>

						</div>
						<p>
							<em>
								{{experienceUni.experienceUni.annee}}</em>
						</p>
						<div class="descriptiondiv">


							{{ experienceUni.translated_description|raw }}

						</div>
					</div>
				{% else %}
					<li>{% trans %}nodata{% endtrans %}</li>
				{% endfor %}

			</div>

		</section>
	</main>
{% endblock %}
