<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<title>CV -
			{% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" type="image/png" href={{ asset('build/images/logo.png') }}>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>

	<body
		data-locale="{{ app.request.locale }}">

		<!-- En-tête -->
		<header>
			<nav>
				<div class="navMenu">
					<a href="{{ path('app_profil', {slug: user.user.slug}) }}"><img id="logo" alt="{{ 'alt.home'|trans }}" src={{ asset('build/images/logo.png') }} class="imgLogo"/></a>
					<a href="{{ path('app_parametres', {slug: user.user.slug}) }}" class="actionAmob">
						<img class="imgActionmob" src={{ asset('build/images/menu/profil.png') }} alt="{{ 'alt.profile_management'|trans }}"/>
						<span class="visually-hidden">{{ 'alt.profile_management'|trans }}</span>
					</a>
					<a href="{{ path('app_logout') }}" class="actionAmob">
						<span class="visually-hidden">{{ 'alt.logout'|trans }}</span>
						<img class="imgActionmob" alt="{{ 'alt.logout'|trans }}" src={{ asset('build/images/menu/exit.png') }}/>
					</a>
					<img id="idmenu" alt="{{ 'alt.open_menu'|trans }}" src={{ asset('build/images/menu/menu.png') }} class="imgMenu"/>


				</div>
				<div class="navDiva">
					<a id="navExplorer" class="butNav" href="{{ path('app_blog') }}">Explorer</a>
					<a id="navAccueil" class="butNav" href="{{ path('app_profil', {slug: user.user.slug}) }}">{% trans %}header.home{% endtrans %}</a>
					<a id="navCompetences" class="butNav" href="{{ path('app_competences', {slug: user.user.slug}) }}">{% trans %}header.skills{% endtrans %}</a>
					<a id="navExperiences" class="butNav" href="{{ path('app_experience', {slug: user.user.slug}) }}">{% trans %}header.experiences{% endtrans %}</a>
					<a id="navContact" class="butNav" href="{{ path('app_contact', {slug: user.user.slug}) }}">{% trans %}contact{% endtrans %}</a>
					<a href="{{ path('app_parametres', {slug: user.user.slug}) }}" class="actionA"><img class="imgAction" src={{ asset('build/images/menu/profil.png') }} alt="{{ 'alt.profile_management'|trans }}"/></a>
					<a href="{{ path('app_logout') }}" class="actionA"><img class="imgAction" alt="{{ 'alt.logout'|trans }}" src={{ asset('build/images/menu/exit.png') }}/></a>

				</div>
			</nav>
		</header>

		{% block body %}{% endblock %}

		<footer>
			<a href="contact.html">{% trans %}contact{% endtrans %}</a>
		</footer>
	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html>
