{% extends 'base/accueil/index.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<main class="mainLogin">
		<h1 class="h1main">Connexion</h1>

		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<form method="post" action="{{ path('app_login') }}">
			<div>
				<label for="email">Email :</label>
				<input class="formAttr" type="email" id="email" name="_email" value="{{ last_username }}" required autofocus>
			</div>
			<div>
				<label for="password">Mot de passe :</label>
				<input class="formAttr" type="password" id="password" name="_plainPassword" required>
			</div>

			{# Champ CSRF token ESSENTIEL #}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="buttonMain" type="submit">Se connecter</button>
		</form>

		<a href="{{ path('app_register') }}" class="formA">Créer un compte</a>
	</main>
{% endblock %}


