<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<title>
			CV - {% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" type="image/png" href={{ asset('build/images/logo.png') }}>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>

	<body class="bodymain">

		<header class="headMain">
			<nav>
				<div class="navMenu">
					<a href="{{ path('app_blog') }}"><img id="logo" alt="imgLogo" src={{ asset('build/images/logo.png') }} class="imgLogo"/></a>
					<a href="{{ path('app_parametresPro') }}" class="actionAmob"><img class="imgActionmob" src={{ asset('build/images/menu/profil.png') }} alt="imgProfil"/></a>
					<a href="{{ path('app_logout') }}" class="actionAmob"><img class="imgActionmob" src={{ asset('build/images/menu/exit.png') }} alt="imgExit"/></a>
					<img id="idmenu" alt="imgmenu" src={{ asset('build/images/menu/menu.png') }} class="imgMenu"/>
				</div>

				<div class="navDiva">
					<a id="navExplorer" class="butNav" href="{{ path('app_blog') }}">Explorer</a>
					<a href="{{ path('app_parametresPro') }}" class="actionA"><img class="imgAction" src={{ asset('build/images/menu/profil.png') }} alt="imgProfil"/></a>
					<a href="{{ path('app_logout') }}" class="actionA"><img class="imgAction" src={{ asset('build/images/menu/exit.png') }} alt="imgExit"/></a>

				</div>
			</nav>
		</header>


		{% block body %}{% endblock %}

		<footer>
		</footer>
	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}

</html>
