{% extends layout %}

{% block title %}Explorer
{% endblock %}

{% block body %}
	<main class="container">
		<h2 class="section-title">Profil</h2>

		<section class="sectionExplo1">
			<form method="get" action="{{ path('app_blog') }}" class="search-form">
				<input type="text" name="q" placeholder="Rechercher par nom, prénom ou métier" value="{{ app.request.get('q') }}">
				<button type="submit">Rechercher</button>
			</form>
			{% for translatedUser in translatedUsers %}
				<div class="cardProfil">
					<div class="classTop">
						<img src="{{ translatedUser.user.imageName ? asset('uploads/images/' ~ translatedUser.user.imageName) : asset('build/images/default.png') }}" alt="image personne">
						<div class="nameUser">
							<p>{{ translatedUser.user.prenom }}</p>
							<p>{{ translatedUser.user.nom }}</p>
						</div>
					</div>
					<p class="professionUserProfil">{{ translatedUser.translated_profession|raw}}</p>
					<p class="descriptionUserProfil">{{ translatedUser.translated_description|raw}}</p>
					<div class="lienRedirect">
						<a href="{{ path('app_profil', {slug: translatedUser.user.slug}) }}">Profil</a>
						<a href="{{ path('app_competences', {slug: translatedUser.user.slug}) }}">Competences</a>
						<a href="{{ path('app_experience', {slug: translatedUser.user.slug}) }}">Expériences</a>
						<a href="{{ path('app_contact', {slug: translatedUser.user.slug}) }}">Contact</a>
					</div>
				</div>
			{% else %}
				<p class="no-data">Aucune donnée trouvée.</p>
			{% endfor %}

			<div class="pagination">
				{{ knp_pagination_render(pagination) }}
			</div>
		</section>
	</main>
{% endblock %}
