{% extends "base/user/index.html.twig" %}

{% block title %}
	{{ 'alt.profile_management'|trans }}
{% endblock %}

{% block body %}
	<main>
		<section class="sectionParametre">
			<h1>{% trans %}alt.profile_management{% endtrans %}</h1>
			<h2 class="h2Parametre">{% trans %}section.settings{% endtrans %}</h2>

			<form method="POST" action="{{ path('app_update_parametres', {'slug': user.user.slug}) }}">
				<div class="divChange">
					<div class="divmail">
						<label for="email">{% trans %}section.newEmail{% endtrans %}</label>
						<input type="email" id="email" name="email" required autofocus>
					</div>
					<div class="divMdp">
						<label for="password">{% trans %}section.newPw{% endtrans %}</label>
						<input type="password" id="password" name="plainPassword" required>
					</div>
					<div class="divProfilEtat">
						<label for="privateProfile">{% trans %}section.profilPrv{% endtrans %}</label>
						<input type="checkbox" name="privateProfile" id="privateProfile" {% if user.user.isPrivate %} checked {% endif %}>
					</div>
					<button type="submit">{% trans %}button.change{% endtrans %}</button>
				</div>

			</form>
		</section>


		<section class="sectionModifCV">
			<h2 class="h2Parametre">{% trans %}section.changeCv{% endtrans %}</h2>
			<a href="{{ path('admin_user_index') }}" target="_blank">EasyAdmin</a>

			<div class="gridForm">
				<div class="divForm">
					<h3>{% trans %}section.add{% endtrans %}
						{% trans %}section.tool{% endtrans %}</h3>

					{{ form_start(addOutilForm) }}
					{{ form_row(addOutilForm.existeOutil  ) }}
					{{ form_row(addOutilForm.newOutil  ) }}
					{{ form_row(addOutilForm.newOutilImage  ) }}
					{{ form_row(addOutilForm.submitOutil  ) }}
					{{ form_end(addOutilForm) }}
				</div>
				<div class="divForm">
					<h3>{% trans %}section.add{% endtrans %}
						{% trans %}section.language{% endtrans %}</h3>

					{{ form_start(addLangueForm) }}
					{{ form_row(addLangueForm.nomLangue  ) }}
					{{ form_row(addLangueForm.niveau  ) }}
					{{ form_row(addLangueForm.submitLangue  ) }}
					{{ form_end(addLangueForm) }}
				</div>
				<div class="divForm">
					<h3>{% trans %}section.add{% endtrans %}
						{% trans %}section.hobbie{% endtrans %}</h3>

					{{ form_start(addLoisirForm) }}
					{{ form_row(addLoisirForm.existeLoisir  ) }}
					{{ form_row(addLoisirForm.newLoisir  ) }}
					{{ form_row(addLoisirForm.newLoisirImage  ) }}
					{{ form_row(addLoisirForm.submitLoisir  ) }}
					{{ form_end(addLoisirForm) }}
				</div>
				<div class="divForm">
					<h3>{% trans %}section.add{% endtrans %}
						{% trans %}section.skill{% endtrans %}</h3>

					{{ form_start(addCompetenceForm) }}
					{{ form_row(addCompetenceForm.existeCompetence  ) }}
					{{ form_row(addCompetenceForm.newCompetence ) }}
					{{ form_row(addCompetenceForm.niveauComp  ) }}
					{{ form_row(addCompetenceForm.submitCompetence ) }}
					{{ form_end(addCompetenceForm) }}
				</div>
				<div class="divForm">
					<h3>{% trans %}section.add{% endtrans %}
						{% trans %}section.train{% endtrans %}</h3>

					{{ form_start(addFormationForm) }}
					{{ form_row(addFormationForm.intitule  ) }}
					{{ form_row(addFormationForm.lieu  ) }}
					{{ form_row(addFormationForm.annee  ) }}
					{{ form_row(addFormationForm.formationImage  ) }}
					{{ form_row(addFormationForm.submitFormation ) }}
					{{ form_end(addFormationForm) }}
				</div>


			</div>
			<div class="gridForm2">
				<div class="divForm">
					<h3>{% trans %}section.add{% endtrans %}
						{% trans %}section.experience{% endtrans %}
						{% trans %}section.uni{% endtrans %}</h3>

					{{ form_start(addExpUniForm) }}
					{{ form_row(addExpUniForm.titre  ) }}
					{{ form_row(addExpUniForm.sousTitre  ) }}
					{{ form_row(addExpUniForm.annee  ) }}
					{{ form_row(addExpUniForm.description  ) }}
					{{ form_row(addExpUniForm.submitExperienceUni  ) }}
					{{ form_end(addExpUniForm) }}
				</div>
				<div class="divForm">
					<h3>{% trans %}section.add{% endtrans %}
						{% trans %}section.experience{% endtrans %}
						{% trans %}section.pro{% endtrans %}</h3>

					{{ form_start(addExpProForm) }}
					{{ form_row(addExpProForm.poste  ) }}
					{{ form_row(addExpProForm.entreprise ) }}
					{{ form_row(addExpProForm.dateDebut  ) }}
					{{ form_row(addExpProForm.dateFin ) }}
					{{ form_row(addExpProForm.description ) }}
					{{ form_row(addExpProForm.submitExperiencePro ) }}

					{{ form_end(addExpProForm) }}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
