{% extends layout %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<main>
		<section class="sectionContact">
			<h1 class="h2Contact">{% trans %}contact{% endtrans %}</h1>
			<ul>
				<li>Email :
					{{user.user.email}}</li>
				<li>Tel :
					{{user.user.telephone}}</li>
				<li>
					<a href="{{user.user.linkdin}}" target="_blank"><img class="contactImg" src={{ asset('build/images/linkedin.webp') }} alt="{{ 'alt.linkedin_image'|trans }}"/></a>
				</li>
				<li>
					<a href="{{user.user.github}}" target="_blank"><img class="contactImg" src={{ asset('build/images/github.png') }} alt="{{ 'alt.github_image'|trans }}"/></a>
				</li>
			</ul>
		</section>

		<section class="sectionContact">
			{% include view %}
		</section>
	</main>
{% endblock %}
